/* geral */
body,
p,
h1,
h2,
input,
textarea {
  margin: 0;
  font-family: Roboto;
}

h2 {
  font-size: 30px;
}

/* navbar */
#navbar {
  background-color: #181717; /* red */
  color: #fff;
  padding: 0 15px;
  height: 60px;
}

#navbar h2,
#navbar ul,
#navbar-list li,
#navbar nav {
  display: inline-block;
}

#navbar h2 {
  margin: 0;
  line-height: 60px;
  margin-left: 55px;
}

#navbar img {
  height: 60px;
  position: absolute;
  top: 3px;
}

#navbar nav {
  float: right;
}

#navbar ul {
  margin-top: 22px;
}

#navbar li {
  margin: 0 10px;
}

#navbar-list li a {
  text-decoration: none;
  color: #fff;
}

#navbar-list li a:hover {
  border-bottom: 1px solid #fff;
}
/* banner */
#main-banner {
    height: 82vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    padding-top: 15vh;
  }
  
  #banner-info {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    padding: 50px;
  }
  
  #banner-info img {
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  #banner-info p {
    background-color: #030303;
    font-weight: bold;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
  }
  /* FIM BANNER */
  /* INICIO CHAT*/ 
  * {
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 70%;
    border: 1px solid rgba(83, 83, 83, 0.767);
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 10px;
  }
  
  
  .message {
    width: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(68, 68, 68, 0.541);
    border-radius: 10px;
  }
  
  .error {
    width: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(71, 0, 0, 0.596);
    border-radius: 10px;
    background-color: rgb(136, 0, 0);
    font-size: 17px;
    font-weight: bold;
  }
  
  .username {
    background-color: rgb(35, 50, 82);
  }
  
  .message_input {
    background-color: rgb(56, 56, 56);
  }
  
  .message_panel {
    display: flex;
    width: 70%;
    align-items: center;
  }
  
  button {
    cursor: pointer;
    width: 25%;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-left: 0.5rem;
    border-radius: 10px;
  }
  
  .messages {
    width: 70%;
    height: 400px;
    margin: 20px 0;
    border: 1px solid rgba(68, 68, 68, 0.541);;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    border-radius: 10px;
  }